<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .title-box {
      background-color: #f0f8ff; /* Color del cuadro */
      border: 2px solid #007bff; /* Borde del cuadro */
      padding: 20px;
      text-align: center;
      margin-top: 20px;
    }
    .title-box h1 {
      color: #007bff; /* Color del texto */
      font-size: 2.5rem; /* Tamaño del texto */
    }
  </style>
</head>
<body>
  <div>
    <img src="https://img.remediosdigitales.com/1dd87c/honda-accord-2018-mexico_/1366_2000.jpg"  width="750"  center class="img-fluid" alt="Banner">
  </div>
  <div class="title-box">
    <h1>Bienvenidos al Home !!</h1>
    <h2> by: Karla Grace Calle</h2>

  </div>
</body>
</html>
